[submodule "NixiePomodoro/timer"]
	path = NixiePomodoro/timer
	url = https://github.com/volkanunal/Stimer.git
[submodule "NixiePomodoro/OneButton"]
	path = NixiePomodoro/OneButton
	url = https://github.com/mathertel/OneButton.git
